:root {
  --primary-color: #2c77de;
  --white-color: #fff;
  --text-color: #343a40;
  --text-color-1: #caced0;
  --text-color-primary: #002958;
  --background-color: #ebf6ff;
  --background-color-1: #f7f8fa;
  --header-height: 80px;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

.app {
  width: 100%;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

button {
    border: none;
    outline: none;
    line-height: 2.4rem;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
p {
  margin: 0;
}

.btn-cms {
    font-size: 1.5rem;
    color: var(--white-color);
    padding: 10px 16px;
    min-width: 124px;
    background-color: var(--text-color-primary);
    border-radius: 12px;
}

/* scroll bar */
html ::-webkit-scrollbar {
  border-radius: 0px;
  width: 8px;
}
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}
html ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(22, 24, 35, 0.2);
}
html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(22, 24, 35, 0.2);
}
html ::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0);
}
html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

/* override css bootstrap */
.row {
  --bs-gutter-x: 2.4rem;
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.row > * {
  --bs-gutter-x: 2.4rem;
}

/* animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideIn {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes slideOut {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
@keyframes hideText {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes showSlideImg {
  from {
    transform: translateX(-32px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes hideSlideImg {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(32px);
    opacity: 0;
  }
}
