/* header =========================== */
.header {
    height: var(--header-height);
    width: 100%;
    box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: var(--white-color);
}

.header-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo a {
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--primary-color);
    margin: 0;
}

.header-nav {
    display: flex;
    align-items: center;
    height: 100%;
}

.header-nav-links {
    height: 100%;
}

.header-nav-links-list {
    display: flex;
    align-items: center;
    gap: 24px;
    height: 100%;
}

.header-nav-link-item {
    height: 100%;
    position: relative;
}

    .header-nav-link-item a {
        font-size: 1.5rem;
        color: var(--text-color-primary);
        font-weight: 700;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        gap: 4px;
        height: 100%;
    }

    .header-nav-link-item hr {
        width: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 4px;
        background-color: var(--primary-color);
        border: none;
        opacity: 1;
        margin: 0;
        transition: width 0.3s ease-in-out;
        animation: slideIn 0.3s forwards;
    }

    .header-nav-link-item.active hr {
        display: block;
    }

.header-nav-link-subItem {
    background-color: var(--white-color);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 100%;
    left: -28px;
    min-width: 310px;
    padding: 12px 0;
    display: none;
    animation: fadeIn 0.3s ease-in-out;
}

    .header-nav-link-subItem li {
        display: block;
        position: relative;
    }

        .header-nav-link-subItem li a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 28px;
            font-size: 1.5rem;
            font-weight: 500;
            color: var(--text-color);
            text-transform: none;
        }

.header-nav-search-language {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 8px;
    margin-left: 36px;
}

    .header-nav-search-language hr {
        display: block;
        width: 2px;
        height: 24px;
        background-color: var(--text-color-1);
        opacity: 1;
        border: none;
        border-radius: 2px;
    }

.header-nav-search {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    cursor: pointer;
}

.header-nav-search-icon {
    font-size: 1.8rem;
    color: var(--text-color-1);
    padding: 12px 0 12px 16px;
}

.header-nav-search form {
    display: none;
    position: absolute;
    top: 100%;
    right: -16px;
    padding: 12px 20px 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: var(--white-color);
    border-radius: 4px;
    animation: fadeIn 0.3s ease-in-out;
    z-index: 11;
}

    .header-nav-search form button {
        background-color: transparent;
    }

        .header-nav-search form button i {
            padding: 12px 12px 12px 4px;
            font-size: 1.8rem;
            color: var(--text-color-1);
        }

        .header-nav-search form button:hover i {
            color: var(--primary-color);
        }

    .header-nav-search form.active {
        display: flex;
    }

    .header-nav-search form input {
        font-size: 1.6rem;
        font-weight: 500;
        color: var(--text-color);
        padding: 16px 12px;
        border: none;
        outline: none;
        border-bottom: 1px solid var(--text-color-1);
        width: 420px;
    }

.header-nav-language {
    display: flex;
    align-items: center;
    position: relative;
    padding: 12px 0;
}

.header-nav-language-selected {
    display: flex;
    align-items: center;
    gap: 2px;
    cursor: pointer;
}

    .header-nav-language-selected p {
        margin: 0;
        font-size: 1.4rem;
        font-weight: 700;
        color: var(--text-color-primary);
    }

    .header-nav-language-selected i {
        font-size: 1.4rem;
        color: var(--text-color-1);
    }

.header-nav-language-box {
    display: none;
    position: absolute;
    top: 100%;
    left: -8px;
    background-color: var(--white-color);
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 4px 0;
    animation: fadeIn 0.3s ease-in-out;
    z-index: 11;
}

    .header-nav-language-box::after {
        content: "";
        position: absolute;
        height: 16px;
        width: var(--header-height);
        top: -12px;
    }

.header-nav-language-item a {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-color);
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 82px;
    padding: 6px 16px;
}

.header-nav-toggle i {
    font-size: 2.2rem;
    cursor: pointer;
    padding: 12px 0 12px 16px;
    color: var(--text-color-primary);
    display: none;
}

.header-nav-toggle-close {
    display: none;
}

.header-nav-search:hover .header-nav-search-icon {
    color: var(--primary-color);
}

.header-nav-language:hover .header-nav-language-box {
    display: block;
}

.header-nav-language-item a:hover {
    color: var(--primary-color);
}

@media (min-width: 992px) {
    .header-nav-link-item:hover hr {
        display: block;
    }

    .header-nav-link-item:not(:hover) hr {
        animation: slideOut 0.3s forwards;
    }

    .header-nav-link-item:hover .header-nav-link-subItem {
        display: block;
    }

    .header-nav-link-subItem li a:hover {
        color: var(--primary-color);
    }
}

@media (max-width: 1200px) {
    .header-nav-link-item a {
        font-size: 1.4rem;
    }

    .header-nav-search-language {
        margin-left: 24px;
    }
}

@media (max-width: 992px) {
    .header {
        --header-height: 60px;
    }

    .header-logo a {
        font-size: 2.2rem;
    }

    .header-nav {
        gap: 8px;
    }

    .header-nav-links {
        display: none;
        position: fixed;
        background-color: var(--white-color);
        top: var(--header-height);
        left: 0;
        right: 0;
        z-index: 10;
    }

    .header-nav-links-list {
        flex-direction: column;
        align-items: start;
        gap: 4px;
    }

    .header-nav-links.active {
        display: block;
    }

    .header-nav-link-item {
        height: auto;
        width: 100%;
    }

        .header-nav-link-item a {
            padding: 9px 0;
            width: 100%;
            font-size: 1.6rem;
        }

        .header-nav-link-item hr {
            display: none;
        }

    .header-nav-toggle {
        display: block;
    }

        .header-nav-toggle i.active {
            display: block;
        }

    .header-nav-search form {
        right: -90px;
    }

        .header-nav-search form input {
            width: 280px;
        }
}
