@{
    ViewData["Title"] = "Home Page";
}
<div class="slide">
    <div class="slide-container container">
        <div class="slide-container-main" id="slideContainer">
            <div class="slide-content active">
                <div class="slide-content-img">
                    <img src="~/image/slide1.jpg" alt="" />
                </div>
                <div class="slide-content-title">
                    <div class="slide-content-title-container">
                        <div class="slide-content-title-main">
                            <h2>
                                Ngày Chuyển đổi số quốc gia năm 2023: Chuyển đổi số là xu
                                thế tất yếu
                            </h2>
                            <p>
                                (ĐCSVN) - Chuyển đổi số hiện nay đang là xu hướng tất yếu,
                                là yêu cầu khách quan chung của sự phát triển. Trước bối
                                cảnh cuộc Cách mạng công nghiệp lần thứ tư đang diễn ra
                                mạnh mẽ trên quy mô toàn cầu, chuyển đổi số không chỉ là
                                xu hướng phổ biển, mà còn là yêu cầu tất yếu, khách quan
                                đối với mỗi quốc gia và trong mọi lĩnh vực.
                            </p>
                        </div>
                        <div class="slide-content-title-action">
                            <button>Xem thêm</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-content">
                <div class="slide-content-img">
                    <img src="~/image/slide2.jpg" alt="" />
                </div>
                <div class="slide-content-title">
                    <div class="slide-content-title-container">
                        <div class="slide-content-title-main">
                            <h2>
                                Ngày 09 tháng 11 – Ngày Pháp luật nước Cộng hòa xã hội chủ
                                nghĩa Việt Nam
                            </h2>
                            <p>
                                Tháng 6 năm 2012, Quốc hội nước Cộng hòa xã hội chủ nghĩa
                                Việt Nam đã thông qua Luật số 14/2012/QH13 - Luật Phổ biến
                                giáo dục pháp luật. Luật này chính thức có hiệu lực kể từ
                                ngày 01 tháng 01 năm 2013. Luật Phổ biến giáo dục pháp
                                luật ra đời đã quy định và khẳng định hơn nữa quyền được
                                thông tin về pháp luật và trách nhiệm tìm hiểu, học tập
                                pháp luật của công dân; nội dung, hình thức phổ biến, giáo
                                dục pháp luật; trách nhiệm của cơ quan, tổ chức, cá nhân
                                có thẩm quyền và các điều kiện bảo đảm cho công tác phổ
                                biến, giáo dục pháp luật. Tại Điều 8 của Luật quy định:
                                Ngày 09 tháng 11 hằng năm là Ngày Pháp luật nước Cộng hòa
                                xã hội chủ nghĩa Việt Nam. Mục đích của ngày này là nhằm
                                tôn vinh Hiến pháp và pháp luật, giáo dục ý thức thượng
                                tôn pháp luật đối với cán bộ, công chức, viên chức, nhân
                                dân và doanh nhân.
                            </p>
                        </div>
                        <div class="slide-content-title-action">
                            <button>Xem thêm</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-content">
                <div class="slide-content-img">
                    <img src="~/image/slide3.jpg" alt="" />
                </div>
                <div class="slide-content-title">
                    <div class="slide-content-title-container">
                        <div class="slide-content-title-main">
                            <h2>CHÍNH SÁCH ĐẢM BẢO TÍNH KHÁCH QUAN</h2>
                            <p>
                                QUACERT kh​ông cung cấp hoặc cung cấp tư vấn hệ thống quản
                                lý; tuệ nhân tạo (AI) và điện toán đám mây trên toàn cầu.
                                QUACERT không cung cấp đánh giá nội bộ cho các khách hàng.
                                QUACERT không chứng nhận hệ thống quản lý trong vòng hai
                                năm kể từ khi cung cấp dịch vụ đánh giá nội bộ; QUACERT
                                không thuê các chuyên gia bên ngoài để tổ chức tư vấn hệ
                                thống quản lý;
                            </p>
                        </div>
                        <div class="slide-content-title-action">
                            <button>Xem thêm</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slide-controls">
            <button class="slide-controls-prev" id="prevBtn">
                <i class="fa-solid fa-chevron-left"></i>
            </button>
            <button class="slide-controls-next" id="nextBtn">
                <i class="fa-solid fa-chevron-right"></i>
            </button>
        </div>
        <div class="slide-indicators" id="indicators">
            <!-- JavaScript sẽ render các chỉ báo ở đây -->
        </div>
    </div>
</div>

<div class="introduction">
    <div class="container introduction-container">
        <div class="introduction-left">
            <div class="logo">
                <img src="~/image/Logo.svg" alt="" />
                <h2>QUACERT</h2>
            </div>
            <p>
                Chúng tôi tự hào là công ty hàng đầu về lĩnh vực chứng nhận, kiểm
                định, đào tạo tại Việt Nam.
            </p>
            <div><button>Xem thêm</button></div>
        </div>
        <div class="introduction-right">
            <div class="introduction-right-item">
                <i class="fa-solid fa-check"></i>
                <p>Chứng chỉ được thừa nhận Quốc tế</p>
            </div>
            <div class="introduction-right-item">
                <i class="fa-solid fa-check"></i>
                <p>
                    Mạng lưới QUACERT khắp cả nước, cung cấp nhiều dịch vụ trọn gói
                    nhằm tiết kiệm chi phí, thời gian
                </p>
            </div>
            <div class="introduction-right-item">
                <i class="fa-solid fa-check"></i>
                <p>
                    Nhiều khách hàng lớn sử dụng dịch vụ của QUACERT: PetroVietNam,
                    VinGroup, LotteCenter, Cocacola, Nohara…
                </p>
            </div>
            <div class="introduction-right-item">
                <i class="fa-solid fa-check"></i>
                <p>
                    QUACERT luôn đi đầu trong những dịch vụ mới với những dự án chưa
                    có tiền lệ
                </p>
            </div>
        </div>
    </div>
</div>

<div class="service">
    <div class="container service-container">
        <h2>Dịch vụ của chúng tôi</h2>
        <div class="service-list row">
            <div class="col-lg-3 col-md-4 col-6">
                <a class="service-item">
                    <div class="service-item-img">
                        <img src="https://chungnhan.com.vn/wp-content/uploads/2022/02/dich-vu-chung-nhan-iso-242x164-1.jpg"
                             alt="Chung nhan chung chi" />
                    </div>
                    <div class="service-item-title">
                        <p>Chứng nhận ISO 9001</p>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <a class="service-item">
                    <div class="service-item-img">
                        <img src="https://metaasia.vn/wp-content/uploads/2022/07/cong-bo-hop-quy-hanghoa.jpg"
                             alt="" />
                    </div>
                    <div class="service-item-title">
                        <p>Chứng nhận sản phẩm hợp chuẩn</p>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <a class="service-item">
                    <div class="service-item-img">
                        <img src="https://niptech.vn/images/ckeditor/images/hc.jpg"
                             alt="" />
                    </div>
                    <div class="service-item-title">
                        <p>Nông nghiệp hữu cơ</p>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <a class="service-item">
                    <div class="service-item-img">
                        <img src="https://bluegiftvietnam.com/wp-content/uploads/2024/06/Giay-chung-nhan-Hop-quy-Mu-bao-hiem.jpg"
                             alt="" />
                    </div>
                    <div class="service-item-title">
                        <p>Chứng nhận mũ bảo hiển hợp quy</p>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <a class="service-item">
                    <div class="service-item-img">
                        <img src="https://clv.vn/wp-content/uploads/2019/09/vietgap-thuy-san.jpg"
                             alt="" />
                    </div>
                    <div class="service-item-title">
                        <p>VietGap Thủy sản</p>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <a class="service-item">
                    <div class="service-item-img">
                        <img src="https://trungtamphantichchungnhanhanoi.gov.vn/wp-content/uploads/2021/11/nuoi-heo-theo-huong-vietgap-3.jpg"
                             alt="" />
                    </div>
                    <div class="service-item-title">
                        <p>VietGap Chăn nuôi</p>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <a class="service-item">
                    <div class="service-item-img">
                        <img src="https://nhachannuoi.vn/wp-content/uploads/2018/04/gia-nguyen-lieu-san-xuat-thuc-chan-nuoi-nhap-khau-tuan-16-22-3-2018.jpg"
                             alt="" />
                    </div>
                    <div class="service-item-title">
                        <p>Kiểm tra thức ăn chăn nuôi nhập khẩu</p>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <a class="service-item">
                    <div class="service-item-img">
                        <img src="https://sokhcn.haiphong.gov.vn/upload/sokhoahoccongnghe/product//2021/09-2021/Kien-thuc-co-ban-ve-5S-65991-637673971379083833.jpg"
                             alt="" />
                    </div>
                    <div class="service-item-title">
                        <p>Chứng nhận 5S</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="partner">
    <h2>Khám Phá Các Khách Hàng Thành Viên</h2>
    <p>
        Xem danh sách các khách hàng đã tin tưởng và sử dụng dịch vụ của chúng
        tôi
    </p>
    <button>Tra cứu khách hàng</button>
</div>

<div class="news">
    <div class="news-container container">
        <div class="news-box">
            <div class="news-box-title">
                <hr />
                <h3>Tin tức nổi bật</h3>
                <hr />
            </div>
            <div class="news-box-container row">
                <div class="col-lg-6">
                    <div class="news-box-main">
                        <a href="">
                            <img src="https://tcvn.gov.vn/wp-content/uploads/2024/06/90b42bef30089356ca19-768x576.jpg"
                                 alt="" />
                        </a>
                        <div class="news-box-main-content">
                            <a href="">
                                Việt Nam – Úc: Hợp tác cùng phát triển về biến đổi khí
                                hậu, khí nhà kính
                            </a>
                            <p>
                                Chiều 19/6/2024 tại trụ sở Ủy ban Tiêu chuẩn Đo lường Chất
                                lượng Quốc gia (Ủy ban), Tổ công tác khí nhà kính của Ủy
                                ban đã có buổi làm việc với Đại sứ quán Australia. Về phía
                                Ủy ban có Tiến sỹ Hà Minh Hiệp, Quyền Chủ tịch Ủy ban và
                                các thành viên Tổ công tác. Về phía Đại sứ quán Australia
                                có ông Kim Wimbush, Tham tán CSIRO và Bà Phạm Thị Hà,
                                Chuyên viên về Chính sách và Chương trình khí hậu, DFAT.
                            </p>
                            <span>
                                21/06/2024 <i class="fa-solid fa-circle"></i> 420 lượt
                                xem
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="news-box-right">
                        <div class="news-box-right-item">
                            <a href="">
                                <img src="https://quacert.gov.vn/FileUpload/Images/210624_1042122.png"
                                     alt="" />
                            </a>
                            <div class="news-box-right-item-content">
                                <a href="">
                                    KHÓA ĐÀO TẠO 4 NGÀY VỀ CHUYÊN GIA ĐÁNH GIÁ TÍCH HỢP TẠI
                                    CÔNG TY TNHH ĐỨC MINH, VĨNH PHÚC
                                </a>
                                <span>
                                    21/06/2024 <i class="fa-solid fa-circle"></i> 362 lượt
                                    xem
                                </span>
                            </div>
                        </div>

                        <div class="news-box-right-item">
                            <a href="">
                                <img src="https://quacert.gov.vn/FileUpload/Images/130624_0426341.jpg"
                                     alt="" />
                            </a>
                            <div class="news-box-right-item-content">
                                <a href="">
                                    LỊCH ĐÀO TẠO CÁC KHÓA ĐÀO TẠO TRONG THÁNG 7,8,9/2024
                                    CỦA QUACERT TẠI HÀ NỘI, ĐÀ NẴNG, HỒ CHÍ MINH
                                </a>
                                <span>
                                    13/06/2024 <i class="fa-solid fa-circle"></i> 162 lượt
                                    xem
                                </span>
                            </div>
                        </div>

                        <div class="news-box-right-item">
                            <a href="">
                                <img src="https://quacert.gov.vn/FileUpload/Images/120624_1117441.jpg"
                                     alt="" />
                            </a>
                            <div class="news-box-right-item-content">
                                <a href="">
                                    Lễ ký kết thỏa thuận hợp tác giữa Trung tâm Chứng nhận
                                    Phù hợp và Công ty cổ phần Net Zero Việt Nam
                                </a>
                                <span>
                                    12/06/2024 <i class="fa-solid fa-circle"></i> 126 lượt
                                    xem
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="art-box">
            <div class="art-box-title">
                <hr />
                <h3>Danh mục chuyên ngành</h3>
                <hr />
            </div>
            <div class="art-box-main row">
                <div class="col-lg-4 col-md-6 col-6">
                    <div class="art-box-item">
                        <h4>ISO 50001 và Tiết kiệm năng lượng</h4>
                        <div class="art-box-item-img">
                            <img src="https://quacert.gov.vn/FileUpload/Images/190613_085516muc_nang_luong.jpg"
                                 alt="" />
                        </div>
                        <div class="art-box-item-content">
                            <a href="">
                                <i class="fa-solid fa-caret-right"></i>
                                <p>
                                    ÁP DỤNG HỆ THỐNG QUẢN LÝ NĂNG LƯỢNG THEO TCVN ISO
                                    50001:2019/ISO 50001:2018 ĐỂ ĐẢM BẢO TIẾT KIỆM NĂNG
                                    LƯỢNG TRONG CÔNG NGHIỆP NHẰM HƯỚNG TỚI PHÁT THẢI RÒNG
                                    BẰNG “0”
                                </p>
                            </a>
                            <a href="">
                                <i class="fa-solid fa-caret-right"></i>
                                <p>Cao su Phước Hòa nhận ISO 50001:2011</p>
                            </a>
                            <a href="">
                                <i class="fa-solid fa-caret-right"></i>
                                <p>
                                    Công ty TNHH Đông Nam Á Lào Cai với hành trình tiết kiệm
                                    năng lượng cùng ISO 50001
                                </p>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-6">
                    <div class="art-box-item">
                        <h4>ISO 39001 và An toàn giao thông vận tải đường bộ</h4>
                        <div class="art-box-item-img">
                            <img src="https://tcvn.gov.vn/wp-content/uploads/2021/03/giaothongvantai.jpg"
                                 alt="" />
                        </div>
                        <div class="art-box-item-content">
                            <a href="">
                                <i class="fa-solid fa-caret-right"></i>
                                <p>
                                    Đánh giá việc áp dụng, ban hành các luật liên quan đến
                                    các hành vi gây mất an toàn giao thông trên thế giới và
                                    tại Việt Nam
                                </p>
                            </a>
                            <a href="">
                                <i class="fa-solid fa-caret-right"></i>
                                <p>
                                    MỤC TIÊU ĐẢM BẢO AN TOÀN GIAO THÔNG ĐƯỜNG BỘ TOÀN CẦU
                                </p>
                            </a>
                            <a href="">
                                <i class="fa-solid fa-caret-right"></i>
                                <p>
                                    Hội thảo khoa học “ Chia sẻ kết quả, kinh nghiệm áp dụng
                                    Hệ thống quản lý an toàn giao thông đường bộ theo tiêu
                                    chuẩn TCVN ISO 39001: 2014”
                                </p>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-6">
                    <div class="art-box-item">
                        <h4>ISO 45001 An toàn Sức khỏe Nghề nghiệp</h4>
                        <div class="art-box-item-img">
                            <img src="https://quacert.gov.vn/FileUpload/Images/290518_014759untitled-1.jpg"
                                 alt="" />
                        </div>
                        <div class="art-box-item-content">
                            <a href="">
                                <i class="fa-solid fa-caret-right"></i>
                                <p>
                                    Thư mời tham dự hội thảo Triển khai, Áp dụng và Chứng
                                    nhận ISO 45001:2018
                                </p>
                            </a>
                            <a href="">
                                <i class="fa-solid fa-caret-right"></i>
                                <p>
                                    ISO 45001:2018 chính thức được ban hành trên toàn thế
                                    giới
                                </p>
                            </a>
                            <a href="">
                                <i class="fa-solid fa-caret-right"></i>
                                <p>
                                    Hệ thống quản lý an toàn và sức khỏe nghề nghiệp theo
                                    tiêu chuẩn ISO 45001
                                </p>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-6">
                    <div class="art-box-item">
                        <h4>An toàn Sản phẩm Tiêu dùng</h4>
                        <div class="art-box-item-img">
                            <img src="https://quacert.gov.vn/FileUpload/Images/100713_050450at_san_pham_td.png"
                                 alt="" />
                        </div>
                        <div class="art-box-item-content">
                            <a href="">
                                <i class="fa-solid fa-caret-right"></i>
                                <p>
                                    Tổng cục TCĐLCL ban hành Hướng dẫn chứng nhận hợp quy về
                                    tương thích điện từ (EMC)
                                </p>
                            </a>
                            <a href="">
                                <i class="fa-solid fa-caret-right"></i>
                                <p>
                                    Tổng cục TCĐLCL ra văn bản hướng dẫn thực hiện đánh giá
                                    sự phù hợp Quy chuẩn kỹ thuật quốc gia QCVN 8:2012/BKHCN
                                </p>
                            </a>
                            <a href="">
                                <i class="fa-solid fa-caret-right"></i>
                                <p>Từ 1/1/2014: Ngừng lưu thông xăng A83</p>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-6">
                    <div class="art-box-item">
                        <h4>Câu chuyện Năng suất chất lượng</h4>
                        <div class="art-box-item-img">
                            <img src="https://quacert.gov.vn/FileUpload/Images/200613_090144dn_va_iso_1.jpg"
                                 alt="" />
                        </div>
                        <div class="art-box-item-content">
                            <a href="">
                                <i class="fa-solid fa-caret-right"></i>
                                <p>
                                    Tổng công ty 319 BQP: Đánh giá giám sát Hệ thống quản lý
                                    chất lượng theo tiêu chuẩn ISO 9001:2008 năm 2016
                                </p>
                            </a>
                            <a href="">
                                <i class="fa-solid fa-caret-right"></i>
                                <p>
                                    HIỆU QUẢ TRIỂN KHAI HỆ THỐNG QUẢN LÝ TÍCH HỢP THEO TIÊU
                                    CHUẨN TCVN ISO 9001:2008 VÀ OHSAS 18001:2007 TẠI CÔNG TY
                                    CP CNSH RỪNG HOA ĐÀ LẠT
                                </p>
                            </a>
                            <a href="">
                                <i class="fa-solid fa-caret-right"></i>
                                <p>
                                    Công ty Cổ phần Bia Sài Gòn Hà Nội thành công với HTQL
                                    năng lượng theo tiêu chuẩn ISO 50001
                                </p>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-6">
                    <div class="art-box-item">
                        <h4>Lịch đào tạo</h4>
                        <div class="art-box-item-img">
                            <img src="https://quacert.gov.vn/FileUpload/Images/230613_075031training.png"
                                 alt="" />
                        </div>
                        <div class="art-box-item-content">
                            <a href="">
                                <i class="fa-solid fa-caret-right"></i>
                                <p>
                                    LỊCH ĐÀO TẠO CÁC KHÓA ĐÀO TẠO TRONG THÁNG 7,8,9/2024 CỦA
                                    QUACERT TẠI HÀ NỘI, ĐÀ NẴNG, HỒ CHÍ MINH
                                </p>
                            </a>
                            <a href="">
                                <i class="fa-solid fa-caret-right"></i>
                                <p>
                                    LỊCH ĐÀO TẠO CÁC KHÓA HỌC TRONG THÁNG 6,7,8,9/2024 CỦA
                                    QUACERT TẠI HÀ NỘI, ĐÀ NẴNG, HỒ CHÍ MINH
                                </p>
                            </a>
                            <a href="">
                                <i class="fa-solid fa-caret-right"></i>
                                <p>
                                    LỊCH ĐÀO TẠO DỰ KIẾN CÁC KHÓA HỌC THÁNG 07,08,09/2021
                                    CỦA QUACERT TẠI HÀ NỘI, ĐÀ NẴNG VÀ HỒ CHÍ MINH.
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
